section.home {
    margin-top: 27px;
    display: inline-flex;
    width: 100%;
}

div#main {
    border:  ridge;
    height: fit-content;
    margin: 5px;
    background-color: var(--color3);
}

div#map {
    border:  ridge;
    height: fit-content;
    margin: 5px;
    background-color: var(--color3);
}

div#options {
    border: ridge;
    margin:  5px;
    background-color:  var(--color3);
    width: 15%;
    list-style:  none;
    max-width:  200px;
    height: fit-content;

}

fieldset {
    background-color:  var(--color1);
    border: outset;
}

legend {
    font-weight: bold;
}

div#massedit {
    background-color:  var(--color1);
}

header {
    position:  fixed;
    width:  100%;
    border: ridge;
    background-color:  var(--color1);
}

h2 {
    font-size:  large;
    margin: 0;
    border:  outset;
    background-color:  var(--color1);
}

#options ul {
    list-style:  none;
    margin:  0;
    padding:  0;
}

#home2table {
    background-color: var(--color3);
}

#home2table tr:hover {
    background-color: var(--color1);
}

#home2table th {
    background-color: var(--color1);
    border: ridge 1px grey;
}



@media (max-width: 600px) {

    section.home {
        position:  relative;
        display:  block;
        margin: unset;
    }

    div#options {
        position:  relative;
        width:  unset;
    }

    header {
        position:  relative;
        border: none;
    }

    table#home2table {
        display:  block;
        position: relative;
        width: 100%;
        overflow-x: scroll;
        font-size: 1em;
    }
    
    nav {
        width:  unset;
        position:  relative;
        display: block;
    }

    div#menu {
        display:  block;
    }


}