.edit {
	background-color: var(--color1);
}

#linklist {
	background-color: var(--color1);
}

#submit {
	background-color: var(--color1);
}

#copy {
	background-color: var(--color1);
}


#artedit {
	background-color: var(--color1);
}

details {
	background-color: var(--color1);
}



.sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

div#submit {
    position:  relative;
}

textarea {
	position: fixed;
	width: calc(100% - 250px);
	right: 0px;
	height: 100%;
	font-size: 1em;
	padding: 2%;
	padding-right: calc(50% - 500px);
	resize: none;
	
}


div#copy {
    position:  fixed;
	bottom:  0;
}

div#linklist {
    position:  fixed;
    bottom:  0;
	right:  0;
	min-width: 10%;
	max-width: 50%;
	max-height: 50%;
	overflow-y: auto;

}

div#linklist div#roll {
	display: none;
}

div#linklist:hover div#roll {
	display: block;
	width: auto;
}

div#roll ul {
    list-style:  none;
    margin: 0;
    padding:  0;
}



details label {
	margin-top: 4px;
}


details select, details input, details label, details textarea#css {
	width: 100%;
}

details input[type="checkbox"]
{
	width: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 2px;
}

fieldset {
    margin:  0;
    padding:  0;
    border:  none;
}

summary, div#linklist, div#copy, div#submit {
    border: ridge 1px grey;

}

span#headid {
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
	border: ridge;
    background-color: var(--color3);

}

input#fontsize {
    width: 40px;
}

summary {
    background-color: var(--color1);
    border: outset;
    font-weight: bold;
}

summary:focus {
    outline: none;
}

div#help {
    padding: 2px;
}

div#help pre {
    background-color: white;
	margin-bottom: 2px;
}

div#help p {
    background-color: var(--color3);
    margin-top: 4px;
}

div#help h3 {margin-bottom: 8px;}

span.i {
    background-color: var(--color2);
    color: white;
}



/* ------------------------------ TABS ----------------------------- */



.tabs
{
	position: absolute;
	left: 250px;
	top: 28px;
}

.tabs .tab
{
	float: left;
}

.tabs .tab .content
{
	position: absolute;
	background-color: white;
	left: 0px;
	width: 100%;
	border: 1px #000 solid;
}

.checkboxtab
{
	display: none;
}

.tab label
{
	margin-right: 10px;
	border: outset;
	background-color: var(--color1);
}

.checkboxtab:checked ~ label
{
	border: inset;
}

.checkboxtab:checked ~ .content
{
	z-index: 1;
}







@media (max-width: 600px) {
    details#editinfo, details#editcss, div#copy, div#linklist {
        display: none;
    }


    nav {
        position: absolute;
        display:  inline-flex;
    }
    
    div#menu {
        display:  block;
    }
    
    div#submit {
        position:  absolute;
        display:  block;
		width:  unset;
		top: unset;
		bottom: 0;
	}

	nav form, nav a {
		display: inline-flex;
		margin: 1%;
	}

	textarea#html {
		padding-top: 60px;
	}
	


}