body {
    background-color: white;
    margin: 0;
}

a.external::before { 
    content: "⧉ ";
}

ul.medialist {
    max-width: 400px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.medialist img {
    width: 100%;
}