.vscode/*
.env
*.log
assets/atom/*
assets/render/*
assets/global/*
assets/manual/*
assets/css/tagcolors.css
assets/js/*
build/
database/*
media/*
render/
dist/
vendor/*
node_modules/
config.json
error_log
.BUILDDATE
VERSION
