.vscode/*
.env
*.log
*.bundle.js
*.bundle.js.map
assets/atom/*
assets/render/*
assets/global/*
assets/css/tagcolors.css
database/*
media/*
render/
build/
dist/
vendor/*
node_modules/
config.json
error_log
VERSION
!README.md
