# prevent Apache from adding trailing slash for names that match folder
# in order to avoid conflict with Controllerpage::pagepermanentredirect()
# and 'assets' and 'media' folder
DirectorySlash off
RewriteEngine on
# everything that does not contain asssets|media
RewriteCond %{REQUEST_URI} !^(.*)/(assets|media)/ [OR]
# or that isn't a file
RewriteCond %{REQUEST_FILENAME} !-f
# is redirect to index
RewriteRule . index.php [L]

# fix bug with PHP-FPM + Apache not recieving Authorization Header
# see <https://stackoverflow.com/a/69021772>
CGIPassAuth On

