includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon

parameters:
    level: 5
    paths:
        - app
        - index.php
        - tests
    excludePaths:
        - app/view/*
    dynamicConstantNames:
        - INTL_ICU_VERSION
    exceptionRules:
        # ignore some exceptions and their chlidrens
        uncheckedExceptions:
            - Error
            - LogicException
        # ignore all exceptions errors in tests classes
        methodWhitelist:
            PHPUnit\Framework\TestCase: '#.*#i'
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
