includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    paths:
        - app
        - index.php
        - tests
    excludePaths:
        - app/view/*
    dynamicConstantNames:
        - INTL_ICU_VERSION
    exceptions:
        # ignore some exceptions and their chlidrens
        uncheckedExceptionClasses:
            - Error
            - LogicException
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -   # ignore all exceptions errors in tests classes
            message: '#missing from the PHPDoc @throws tag#'
            path: tests/*
