:root {
    --color1: lightgrey;
    --color2: lightslategrey;
    --color3: #ececec;
    --color4: grey;
}


@keyframes alert {
    from {top: 30px;}
    to {top: -50px;}
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color4);
}


span.alert {
    position: fixed;
    background-color: var(--color1);
    z-index: 100;
    border: ridge red;
    width: 200px;
    text-align: center;
    padding: 5px;
    top: 30px;
    font-weight: bold;
    left: calc(50% - 100px);
    animation: alert 1s linear 2s forwards;
}


form{
    margin: 0;
}



nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: var(--color1);
    border: ridge;
}

div#menu {
    display: none;
}

nav:hover div#menu {
    display: block;
}

nav a {
    display: block;
}

nav a:hover {
    background-color: var(--color3);
}

nav #loginpass {
    width: 100%;
}


@media (max-width: 600px) {
    body {
        font-size: 1.3em;
    }

    input, textarea, select, button {
        font-size: 0.8em;
    }

    nav {
        display: none;
    }
    
}