div#options {
    background-color: var(--color1);
}

#home2table {
    background-color: var(--color3);
}

header {
    background-color: var(--color1);
}




section.home {
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
}

header {
    position:  fixed;
    width:  100%;
    border: ridge 1px grey;
}


div#options {
    width: 15%;
    list-style:  none;
}


#home2table {
    width: 85%;
}

#options ul {
    list-style:  none;
    margin:  0;
    padding:  0;
}


#home2table tr:hover {
    background-color: var(--color1);
}

#home2table th {
    background-color: var(--color1);
    border: ridge 1px grey;
}



@media (max-width: 600px) {

    section.home {
        position:  relative;
        display:  block;
        margin: unset;
    }

    div#options {
        position:  relative;
        width:  unset;
    }

    header {
        position:  relative;
        border: none;
    }

    table#home2table {
        display:  block;
        position: relative;
        width: 100%;
        overflow-x: scroll;
        font-size: 1em;
    }
    
    nav {
        width:  unset;
        position:  relative;
        display: block;
    }

    div#menu {
        display:  block;
    }


}