

.infobulle {
    display: none;
}

.little:hover .infobulle {
    display: inline-block;
    position: relative;
    background-color: white;
    z-index: 5;
    top: 5px;
    width: 300px;
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.1em;
}

span.infobulle img {
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    margin-right: 120px;

}

.little {
    width: 100px;
    height: 150px;
    margin: 10px;
    background-color: white;

}

.infobulle input[type="text"] {
    font-family:  monospace;
    font-size:  0.9em;
    margin: 3px;
}

img.thumbnail {
    width: 100%;
}

section.gest {
    padding-bottom: 300px;
}