div#options {
    background-color: var(--color1);
}

#home2table {
    background-color: var(--color3);
}

header {
    background-color: var(--color1);
}




section.home {
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
}

header {
    position:  fixed;
    width:  100%;
    border: ridge 1px grey;
}


div#options {
    width: 15%;
    list-style:  none;
}


#home2table {
    width: 85%;
}

#options ul {
    list-style:  none;
    margin:  0;
    padding:  0;
}


#home2table tr:hover {
    background-color: var(--color1);
}

#home2table th {
    background-color: var(--color1);
    border: ridge 1px grey;
}



