:root {
    --color1: lightgrey;
    --color2: lightslategrey;
    --color3: white;
    --color4: grey;
}

body {
    margin: 0;
    font-family: monospace;
}


section {
}





form{
    margin: 0;
}



nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: var(--color1);
    /* width: calc(10% - 20px); */
    width: 10%;
    border: ridge 1px grey;
}

div#menu {
    display: none;
}

nav:hover div#menu {
    display: block;
}

nav a {
    display: block;
}

nav a:hover {
    background-color: var(--color2);
}

nav #loginpass {
    width: 100%;
}


