.edit {
	background-color: var(--color1);
}

#linklist {
	background-color: var(--color1);
}

#submit {
	background-color: var(--color1);
}

#copy {
	background-color: var(--color1);
}


#artedit {
	background-color: var(--color1);
}

details {
	background-color: var(--color1);
}






details#editinfo {
    position:  fixed;
	top: 0;
	left: 10%;
    width:  40%;
}

details#editcss {
    position:  fixed;
	top: 0;
	left: 50%;
    width:  40%;
}

div#submit {
    position:  fixed;
    top: 0;
    width:  10%;
}

textarea#html {
	width: 100%;
	height: 100%;
	font-size: 1em;
	padding-top: 40px;
	padding-bottom: 40px;
    font-family: serif;
    padding-left:  2%;
	padding-right: calc(50% - 500px);
	resize: none;
	
}


div#copy {
    position:  fixed;
	bottom:  0;
}

div#linklist {
    position:  fixed;
    bottom:  0;
	right:  0;
	min-width: 10%;
	max-width: 50%;
	max-height: 50%;
	overflow-y: auto;

}

div#linklist div#roll {
	display: none;
}

div#linklist:hover div#roll {
	display: block;
	width: auto;
}

div#roll ul {
    list-style:  none;
    margin: 0;
    padding:  0;
}



details label {
	display:  block;	
	margin-top: 4px;
}

textarea#css {
    width:  100%;
    height:  200px;
}

details select, details input, details label, details textarea#css {
	width: 100%;
}

fieldset {
    margin:  0;
    padding:  0;
    border:  none;
}

summary, div#linklist, div#copy, div#submit {
    border: ridge 1px grey;

}


@media (max-width: 600px) {
    details#editinfo, details#editcss, div#copy, div#linklist {
        display: none;
    }


    nav {
        position: absolute;
        display:  inline-flex;
    }
    
    div#menu {
        display:  block;
    }
    
    div#submit {
        position:  absolute;
        display:  block;
		width:  unset;
		top: unset;
		bottom: 0;
	}

	nav form, nav a {
		display: inline-flex;
		margin: 1%;
	}

	textarea#html {
		padding-top: 60px;
	}
	


}