:root {
    --text-color: #272f09;
    --text2-color: #595d1e;
    --text3-color: #3b1338;
    --main-color: #eaeeaf;
    --secondary-background-color: #d2bd76;
    --code-background-color: hsl(213 21% 10% / 1);
    --code-color: hsl(89.26deg 46% 66%);
    --primary-background-color: #ffefbc;
    --tertiary-background-color: #c6b98e;
    --outline-background-color: #e7c969;
    --outline-color: #262626;
    --button-background-color: #dcdd98;
    --button-color: #000000;
    --input-background-color: #ffffff;
    --input-color: #303030;
    color-scheme: light;

    --radius: 4px;
}

.cm-wcms, .cm-wkeyword, .editor textarea, .CodeMirror {
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: 0;
}


.CodeMirror, .editor #editmain, .editor #editheader, .editor #editnav, .editor #editaside, .editor #editfooter  {
    font-family: serif;
}
