:root {
    --text-color: #ffffff;
    --text2-color: #ffeb01;
    --text3-color: #ffe001;
    --main-color: #4c0780;
    --secondary-background-color: #000000;
    --code-background-color: rgb(255 128 19);
    --code-color: #000000;
    --primary-background-color: #414141;
    --tertiary-background-color: #000000;
    --outline-background-color: #ffb101;
    --outline-color: #000000;
    --button-background-color: #ff662c;
    --button-color: #000000;
    --input-background-color: #000000;
    --input-color: #ff662c;
    color-scheme: dark;
    --font-family: monospace;
    --radius: 0;
}

input, button, select, textarea, .dropdown, .dropdown-content {
    border-radius: 0px;
    border: solid 1px;
}
.dropdown-content  {
    border: solid 1px;
    margin-left: -1px;
    padding-top: 3px;
}

body {
    font-family: monospace;
    font-size: 13px;
}

aside {
    border-bottom: solid 1px;
}
