:root {
    --text-color: black;
    --text2-color: #000000;
    --text3-color: #3b1338;
    --main-color: #7b97b9;
    --secondary-background-color: #bbbbbb;
    --code-background-color: hsl(213 21% 10% / 1);
    --code-color: hsl(213 46% 66% / 1);
    --primary-background-color: #d6d6d6;
    --tertiary-background-color: #909090;
    --outline-background-color: #7a7a7a;
    --outline-color: #ffffff;
    --button-background-color: #ffffff;
    --button-border-color: #000000;
    
}

input, button, select, textarea {
    border-radius: 3px;
}


