:root {
    --text-color: black;
    --text2-color: #ffffff;
    --text3-color: #3b1338;
    --main-color: #848484;
    --secondary-background-color: #bbbbbb;
    --code-background-color: hsl(213 21% 10% / 1);
    --code-color: hsl(0deg 0% 100%);
    --primary-background-color: #d6d6d6;
    --tertiary-background-color: #909090;
    --outline-background-color: #5e5e5e;
    --outline-color: #ffffff;
    --button-background-color: #ecf0f5;
    --button-color: #000000;
    --input-background-color: #ffffff;
    --input-color: #303030;
    color-scheme: light;

    --radius: 0;
}

input, textarea  {
    border: inset 2px;
    border-color: #333 #666 #666 #333; 
}

input[type="submit"], button, select {
    border: outset 2px;
}

.block {
    border: ridge 2px;
    margin: 0px;
}




.submenu {
    border: ridge 2px;
}

h2, header {
    border-bottom: #757575 solid 1px;
}

div.panel details {
    border: solid 1px;
    border-color: var(--tertiary-background-color)
}
