.edit {
	background-color: greenyellow;
}

#linklist {
	background-color: blanchedalmond;
}

#submit {
	background-color: coral;
}

#copy {
	background-color: darkkhaki;
}

#html {
	background-color: deepskyblue;
}

#artedit {
	background-color: darksalmon;
}

#editoption {
	background-color: blueviolet;
}