.level div {
    width: 70px;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: var(--radius);
}

.level .warn, .level.warn {
    background-color: rgb(221, 144, 0);
}

.level .error, .level.error {
    background-color: red;

}

.level .info, .level.info {
    background-color: green;

}

.date {
    white-space: nowrap;
}

.line {
    font-family: monospace;
    text-align: right;
}

tbody {
    user-select: text;
}

#options {
    display: flex;
}

#options form {
    padding: var(--spacing);
}

#options label {
    border-radius: var(--radius);
    padding: var(--half-padding) var(--padding);
    font-size: var(--size-small);
}

#options #limit {
    width: 80px;
}

label.level {
    color: white;
}
