:root {
    --spacing: 1rem; /* better when non zero */
    --padding: .5rem; /* can be zero to remind old style w look */
    --radius: .25rem; /* border-radius on buttons and inputs */
    --size-small: .85em; /* small sizes */
    /* padding adjustments : */
    --reset-padding: calc(var(--padding) * -1);
    --half-padding: calc(var(--padding) / 2);
    --double-padding: calc(var(--padding) * 2);
    --gap: 1px; /* 1px for separated columns & panels, 0 for collapsed ones */
    --font-family: sans-serif;
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--main-color) transparent;
}

*::selection {
    background: var(--outline-background-color);
    color: var(--outline-color);
}

:focus-visible {
    outline: ridge 2px var(--outline-background-color);
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--tertiary-background-color);
    font-family: var(--font-family);
    font-size: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-color);
    gap: var(--gap, 0);
    user-select: none;
}

/* --------------------------------------------------------- common elements */

h1, h2 {
    margin: 0;
    color: var(--text2-color);
    background-color: var(--main-color);
}

p, code {
    user-select: text;
}

code.select-all {
    user-select: all;
}

a {
    text-decoration: none;
    color: currentColor;
}


/* --------------------------------------------------------- layout helpers */

.flexrow {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
}
.flexrow-reverse { 
    flex-direction: row-reverse;
}
.flexrow > * { 
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    display: flex;
}
.flexcol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}


/* --------------------------------------------------------- inputs and buttons */

input, textarea, button, select, .button {
    font: inherit;
    border: none;
    accent-color: var(--main-color);
    font-size: var(--size-small);
    padding: var(--half-padding) var(--padding);
    border-radius: var(--radius);
}

input, textarea {
    color: var(--input-color);
    border-color: var(--input-color);
    background-color: var(--input-background-color);
}

input[type="submit"], input[type="file"], button, select, .button  {
    color: var(--button-color);
    border-color: var(--button-color);
    background-color: var(--button-background-color);
    cursor: pointer;
}


/* --------------------------------------------------------- fields */

.field { 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
}
.field label { 
    display: block; 
    font-size: var(--size-small); 
    padding-bottom: var(--half-padding);
}

.field label + input[type="text"],
.field label + input[type="number"],
.field label + input[type="color"],
.field label + select { width: 100%; }
    
.field:has([type="checkbox"]),
.field:has([type="radio"]),
.field:has([type="color"]) { 
    flex-direction: row-reverse; 
    align-items: start;
    gap: var(--padding);
}    
.field:has([type="checkbox"]) label,
.field:has([type="radio"]) label,
.field:has([type="color"]) label { 
    flex: 1; 
}
.field:has([type="color"]) input { 
    flex: 1; 
    padding: 0;
}

.submit-field {
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
.submit-field [type=submit], .submit-field button {
    background: var(--outline-background-color);
    color: var(--text2-color);
    font-weight: bold;
}

/* --------------------------------------------------------- horizontal bars */

.hbar {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    gap: var(--spacing);
    overflow-x: scroll;
}
.hbar a {
    color: var(--text2-color);
}
.hbar-section { 
    display: flex; 
    gap: var(--spacing); 
    align-items: center;
}

/* --------------------------------------------------------- topbar */

#topbar input[type="text"] {
    width: 100px;
}

#topbar a.currentpage {
    font-weight: bold;
}

/* --------------------------------------------------------- almost untouched… */

aside {
    background-color: var(--secondary-background-color);
}

aside summary {
    list-style: none;
}



summary {
    white-space: nowrap;
}

summary:hover, input[type="submit"], input[type="file"], button {
    cursor: pointer;
}


.bar {
    background-color: var(--primary-background-color);
}

.panel {
    display: none;
}

label.toogle {
    height: 100%;
    line-height: 100%;
    text-align: center;
}

label.toogle:hover {
    color: var(--outline-color);
    cursor: pointer;
    background-color: var(--outline-background-color);
}

/* Used for interface modification using hidden checkboxes */
input.toggle {
    display: none;
}

label.toogle {
    width: 15px;
}




@media (max-width: 750px) {
    header a span, footer, aside a span {
        display: none;
    }
}


@media (max-width: 550px) {

    header a span, footer, header span#search, aside a span, .text {
        display: none;
    }

    aside summary {
        min-width: 45px !important;
        padding-right: 15px;
    }

    aside .submenu {
        left: 0;
        max-width: inherit !important;
    }

    .bar {
        flex-direction: column;
    }

    label.toogle {
        width: 100%;
        height: 30px;
    }
}

@media (pointer: coarse) {

    header a span, footer, header span#search, aside a span, .text {
        display: none;
    }

    body, input, select, button {
        font-size: 20px;
    }

    input[type="checkbox"], input[type="radio"] {
        height: 22px;
        width: 22px !important;
    }

    header a {
        font-size: 35px;
    }
    
}


/* __________________________ Flash Messages ___________________________ */

#flashmessage {
    color: white;
    border: solid white 1px;
    position: fixed;
    animation-delay: 5s;
    animation-name: flash;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    max-height: 200px;
    width: 100%;
}

div#flashmessage:target {
    display: none;
}

#flashmessage ul {
    max-height: 200px;
    overflow-y: auto;
    margin: auto;
    z-index: 5;
}


#flashmessage li.alert-info {
    background-color: grey;
}

#flashmessage li.alert-warning {
    background-color: #FF5722;
}

#flashmessage li.alert-success {
    background-color: green;
}

#flashmessage li.alert-error {
    background-color: red;
}


@keyframes flash {
    from {
      top: 0;
    }
  
    to {
      top: -200px;
    }
  }
  

table a, li a {
    color: var(--text3-color);
}


.panel input, .panel select, .panel textarea {
    margin-bottom: 3px;
}
