.message {
    white-space: preserve;
    overflow: scroll;
    display: block;
    padding: var(--spacing);
    background: var(--input-background-color);
    color: var(--input-color);
    font-family: monospace;
    user-select: text;
}


main[data-display="timeline"] .comment {
    display: flex;
    flex-direction: column;
    margin: var(--spacing);
    border-radius: var(--radius);
}

main[data-display="timeline"] section {
    max-width: 800px;
}

main[data-display="timeline"] .comment header,
main[data-display="timeline"] .comment footer {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing);
}

main[data-display="timeline"] .comment header {
    border-radius: var(--radius) var(--radius) 0 0;
    background: var(--secondary-background-color);
}

@media (hover: hover) {
    main[data-display="timeline"] .comment footer {
        opacity: 0.7;
    }

    main[data-display="timeline"] .comment:hover footer {
        opacity: 1;
    }
}

main[data-display="timeline"] .comment .message {
    border-radius: 0 0 var(--radius) var(--radius);
}


.visiblename {
    font-weight: bold;
}

.website {
    font-size: var(--size-small);
}

.page {
    font-family: monospace;
}

.counter::before {
    content: "(";
}

.counter::after {
    content: ")";
}
