/* CONNECT */

.connect form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.connect h2 {
    padding: var(--spacing);
    border-radius: var(--radius) var(--radius) 0  0;
}

.connect {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin: auto;
    border-radius: var(--radius);
    padding: var(--spacing);
    background: var(--secondary-background-color);
}

.button {
    display: block;
    width: 100%;
    text-align: center;
}