div#options {
    float: left;
}

div#main {
    display: inline-block;
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;
}

.menu {
    position: fixed;
    right: 0;
}

.editor div#leftbar {
    position: relative;
    height: 100%;
}

.editor .tabs {
    flex: 2;
    position: relative;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    overflow: hidden;
}



.editor #leftbarpanel, .editor #rightbarpanel {
    width: 250px;
    display: none;
    height: 100%;
    overflow-y: auto;
}

.editor #showleftpanel:checked ~ #leftbarpanel {
    display: block;
    overflow-y: auto;
    height: 100%;
}

.editor #showrightpanel:checked ~ #rightbarpanel {
    display: block;
}

.editor input.toggle {
    display: none;
}

.editor label.toogle:hover {
    color: white;
    cursor: pointer;
    background-color: #e2e2e2;
}

.editor label.toogle {
    height: 100%;
    line-height: 100%;
    text-align: center;
}

.editor #leftbar label.toogle {
    float: right;
}

.editor #rightbar label.toogle {
    float: left;
}


#rightbarpanel {
    display: none;
    width: 250px;
}
#rightbar:target #rightbarpanel {
    display: inline-block;
    overflow-y: scroll;
    height: 100%;
}
#rightbar:target #open {
    display: none;
}






.editor #workspace {
    display: flex;
    height: calc(100% - 50px);
    position: relative;
}

/* clip the tabs names */

.tabs .tab
{
    min-width: 0;
    overflow: hidden;
}

.tabs .tab .content
{
	position: absolute;
	background-color: #dc8ad2;
	left: 0px;
	width: 100%;
	height: calc(100% - 30px);
}

.checkboxtab
{
	display: none;
}

.tab label
{
	margin-right: 10px;
	border: solid rgba(0, 0, 0, 0);
	padding: 0px 2px;
}

.tab label.edited {
    text-decoration: underline dotted red;
}

.tab label.template {
    color: #7b97b9;
}

.checkboxtab:checked ~ label
{
    border: solid 1px;
    background: white;
}

.checkboxtab:checked ~ .content
{
	z-index: 1;
}



main.editor {
    position: fixed;
    width: 100%;
    height: 100%;
}


html {
    height: 100%;
}

.tabs textarea {height: 100%;width: 100%;border: none;resize: none;padding: 1%;}

* {
    box-sizing: border-box;
}

.editor .tabs label {
    line-height: 30px;
    overflow: hidden;
}

.editor #edittopbar {
    height: 24px;
    background-color: #a9a9a9;
    line-height: 18px;
    border-bottom: grey solid 1px;
}


.editor div#editmenu {
    /* height: 25px; */
    /* line-height: 18px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.editor ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.editor .bar select {
    width: 100%;
}



.editor .panel textarea {resize: vertical;}

.editor .panel input, .editor .panel textarea {width: 100%;}




details {
    background-color: darkgrey;
}

.bar {
    background-color: lightgrey;
}

input#fontsize {
    width: 50px;
}

span#headid {color: white;}

a {
    color: black;
    text-decoration: none;
}

a.templatetooltip {
    color: white;
}

a:hover {
    color: white;
}


#topbar {
    background-color: #7b97b9;
    width: 100%;
    padding: 3px 0.5%;
    border-bottom: solid 1px dimgrey;
}

#topbar form {
    display: inline;
}


#topbar span#menu {
    display: inline-block;
    margin: 0 1%;
}

#topbar input[type="text"], #topbar input[type="password"] {width: 100px;}

main.font table#fontlist {
    width: 100%;
    max-width: 500px;
}

main.media table#medialist {
    width: 100%;
    max-width: 960px;
}

#topbar a.actualpage {
    text-decoration: underline;
}

span#user {
    float: right;
}

span#search {
    float: left;
}




img.icon {
    height: 15px;
}

a:hover img.icon {
    filter: invert(1);
}



#fonts select {
	height: 150px;
}

a.icon {
    font-size: 25px;
}


.editor .panel input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
}


.panel .subtemplate {
    margin-left: 20px;
}

.editor fieldset {
    border: none;
}

.panel summary {
    background-color: grey;
    color: lightgrey;
}

.panel summary:hover {
    cursor: pointer;
}

#external label {
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#help kbd {
    border: 1px solid;
    padding: 3px 6px;
    background-color: lightgrey;
    box-shadow: 3px 3px #00000087;
}

#help div {
    padding: 2%;
}

#help code {
    background-color: #1b1b1b;
    color: white;
    padding: 2px;
    margin-right: 5px;
    white-space: pre;
}

#help code i {
    color: #7b97b9;
}


#help li {
    margin-bottom: 8px;
}






div#thumbnail img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: scale-down;
    padding: 2%;
}




@media (max-width: 600px) {
    .bar {
        display: none;
    }

    span#fontsize {
        display: none;
    }

    #edittopbar .text {
        display: none;
    }

}

