#workspace {
    display: flex;
    height: calc(100% - 50px);
}



.panel {
    width: 250px;
    display: none;
    height: 100%;
    overflow-y: auto;
    height: 100%;
}

#showeditorleftpanel:checked ~ #leftbarpanel {
    display: block;
}

#showeditorrightpanel:checked ~ #rightbarpanel {
    display: block;
}

input.toggle {
    display: none;
}

label.toogle:hover {
    color: white;
    cursor: pointer;
    background-color: #e2e2e287;
}

label.toogle {
    height: 100%;
    line-height: 100%;
    text-align: center;
}

#leftbar label.toogle {
    float: right;
}

#rightbar label.toogle {
    float: left;
}



/* clip the tabs names */

.tabs {
    flex: 2;
    position: relative;
    height: 100%;
    background-color: var(--primary-background-color);
    display: flex;
    overflow: hidden;
}

.tabs .tab .content
{
	position: absolute;
	left: 0px;
	width: 100%;
	height: calc(100% - 30px);
	visibility: hidden;
}

.checkboxtab
{
	display: none;
}

.tab label
{
	margin-right: 8px;
}

.tab label.edited {
    text-decoration: underline dotted red;
}

.tab label.template {
    color: var(--text2-color);
}

.checkboxtab:checked ~label
{
    background: var(--outline-background-color);
    color: var(--outline-color);
}

.checkboxtab:checked ~.content
{
	visibility: visible;
}



div.editor {
    position: fixed;
    width: 100%;
    height: 100%;
}

.tabs textarea {
	height: 100%;
	width: 100%;
	border: none;
	resize: none;
	padding: 1%;
}

.editor .tabs label {
    line-height: 25px;
    padding: 1px;
    padding-bottom: 5px;
    overflow: hidden;
}

input#editfontsize {
    width: 3em;
}


.editor div#editmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.editor ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.editor .bar select {
    width: 100%;
}



.editor .panel textarea {resize: vertical;}

.editor .panel input, .editor .panel textarea {width: 100%;}




details {
    background-color: var(--secondary-background-color);
}

.bar {
    background-color: var(--primary-background-color);
}

input#fontsize {
    width: 50px;
}

span#headid {color: var(--outline-color);background-color: var(--outline-background-color);}

a {
    /* color: black; */
    text-decoration: none;
}

a:hover {
    color: white;
}



span#user {
    float: right;
}

span#search {
    float: left;
}




img.icon {
    height: 15px;
}

a:hover img.icon {
    filter: invert(1);
}



#fonts select {
	height: 150px;
}

a.icon {
    font-size: 25px;
}


.editor .panel input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
}


.panel .subtemplate {
    margin-left: 20px;
}

.editor fieldset {
    border: none;
}

.panel summary {
    background-color: var(--main-color);
}

.panel summary:hover {
    cursor: pointer;
}

#external label {
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#help kbd {
    border: 1px solid #000000c7;
    padding: 1px 4px;
    background-color: var(--main-color);
    box-shadow: 3px 2px #000000c7;
    border-radius: 4px;
}

#help div {
    padding: 2%;
}

#help code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    padding: 2px;
    margin-right: 5px;
    white-space: pre;
}

#help code i {
    color: var(--main-color);
}


#help li {
    margin-bottom: 8px;
}






div#showthumbnail img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: scale-down;
    padding: 2%;
}

/* Custom CodeMirror CSS */
.CodeMirror {
    height: 100% !important;
    cursor: text;
}

/* CodeMirror Wcms mode */
.cm-wcms, .cm-wkeyword {
    color: var(--text-color);
    background-color: var(--main-color);
}

span.cm-wkeyword {
    color: var(--text2-color);
}

.cm-wikilink {
    color: blue;
    font-weight: bold;
}


@media (max-width: 550px) {
    .bar{
        display: none;
    }

    span#fontsize {
        display: none;
    }   
}

