#workspace {
    display: flex;
    height: calc(100% - 50px);
}

.panel {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    height: 100%;
}

/* #leftbar label.toogle {
    float: right;
}

#rightbar label.toogle {
    float: left;
} */



/* clip the tabs names */

.tabs {
    flex: 2;
    position: relative;
    height: 100%;
    background-color: var(--primary-background-color);
    display: flex;
    overflow: hidden;
}

.tabs .tab .content
{
	position: absolute;
	left: 0px;
	width: 100%;
	height: calc(100% - 30px);
	visibility: hidden;
}

.checkboxtab
{
	display: none;
}

.tab label
{
	margin-right: 8px;
	display: inline-block;
}

.tab label.edited {
    text-decoration: underline dotted red;
}

.tab label.template {
    color: var(--text2-color);
}

.checkboxtab:checked ~label
{
    background: var(--outline-background-color);
    color: var(--outline-color);
}

.checkboxtab:checked ~.content
{
	visibility: visible;
}



div.editor {
    position: fixed;
    width: 100%;
    height: 100%;
}

.tabs textarea {
	height: 100%;
	width: 100%;
	border: none;
	resize: none;
	padding: 1%;
}

.editor .tabs label {
    padding: 1px;
    height: 22px;
}

input#editfontsize {
    width: 3em;
}


/* .editor aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2px 3px;
} */



.editor ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.editor .bar select {
    width: 100%;
}



.editor .panel textarea {resize: vertical;}

.editor .panel input, .editor .panel textarea {width: 100%;}




details {
    background-color: var(--secondary-background-color);
}

input#fontsize {
    width: 50px;
}

span#headid {
	color: var(--outline-color);
	background-color: var(--outline-background-color);
	text-wrap: nowrap;
}

a {
    /* color: black; */
    text-decoration: none;
}

a:hover {
    color: white;
}




img.icon {
    height: 15px;
}

a:hover img.icon {
    filter: invert(1);
}



#fonts select {
	height: 150px;
}

a.icon {
    font-size: 25px;
}


.editor .panel input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
}


.panel .subtemplate {
    margin-left: 20px;
}

.editor fieldset {
    border: none;
}

.panel summary {
    background-color: var(--main-color);
}

.panel summary:hover {
    cursor: pointer;
}

#external label {
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#help kbd {
    border: 1px solid #000000c7;
    padding: 1px 4px;
    background-color: var(--main-color);
    box-shadow: 3px 2px #000000c7;
    border-radius: 4px;
}

#help div {
    padding: 2%;
}

#help code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    padding: 2px;
    margin-right: 5px;
    white-space: pre;
}

#help code i {
    color: var(--main-color);
}


#help li {
    margin-bottom: 8px;
}






div#showthumbnail img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: scale-down;
    padding: 2%;
}

/* Custom CodeMirror CSS */
.CodeMirror {
    height: 100% !important;
    cursor: text;
}

/* CodeMirror Wcms mode */
.cm-wcms, .cm-wkeyword {
    color: var(--outline-color);
    background-color: var(--outline-background-color);
}

span.cm-wkeyword {
    text-decoration: underline;
}

.cm-wikilink {
    color: rgb(98, 81, 248);
    font-weight: bold;
}

/* To make markdown heading bigger
.cm-header-1 { font-size: 150%; }
.cm-header-2 { font-size: 130%; }
.cm-header-3 { font-size: 120%; }
.cm-header-4 { font-size: 110%; }
*/

.CodeMirror-selected  {
	background-color: var(--main-color) !important;
}
.CodeMirror-selectedtext {
	color: var(--text-color) !important;
}


div#geomap {
    width: 100%;
    height: 250px;
}

/* __________ Tags _____________ */

.tagify {
    --tag-pad: 0 0;
    --tag-text-color: inherit;
    --tag-border-radius: 10px;
    --tag-inset-shadow-size: 0;
    --loader-size: 0;
    --tags-focus-border-color: transparent;
    display: block;
}

:root {
	--tagify-dd-color-primary: var(--outline-background-color);
	--tagify-dd-item-pad: 5px;
	--tagify-dd-bg-color:  var(--input-background-color);
}

.tagify__tag {
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 0;
    padding-bottom: 1px;
    animation: none;
}

.tagify__tag__removeBtn {
    color: inherit;
    margin-left: 1px;
}

.tagify__dropdown span.tag {
    border-radius: 10px;
	padding: 1px 4px;
}

.tagify--focus {
    outline: ridge 2px var(--outline-background-color)
}




@media (max-width: 550px) {
    .bar{
        display: none;
    }

    span#fontsize {
        display: none;
    }

	span#headid .pageid {
		display: none;
	}
}


@media (pointer: coarse) {
	.editor .tabs label {
	    height: 35px;
	    margin-right: 4px;
	}
	aside#edittopbar {
	    padding: 5px;
	    font-size: 25px;
	    padding-top: 7px;
	    padding-bottom: 7px;
	}
}

@media (max-width: 750px) and (pointer: coarse) {
	span#headid .pageid {
		display: none;
	}
}
