/** default global CSS */

* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

/** map/location integration */
.leaflet-container {
    min-height: 300px;
}

a.user:before {
    content: "👤";
}
