* {
    box-sizing: border-box;
}

div#options {
    float: left;
}

div#main {
    display: inline-block;
}

body {
    margin: 0;
    height: 100%;
    background-color: lightgrey;
    font-family: monospace;
    font-size: 15px;
}

.menu {
    position: fixed;
    right: 0;
}





tr:hover {
    background-color: grey;
    color: white;
}

#topbar {
    background-color: #7b97b9;
    position: fixed;
    width: 100%;
    padding: 3px 0.5%;
}

#topbar form {
    display: inline;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

#options ul {
    list-style: none;
    padding-inline-start: 0;
}

th {
    background-color: darkgrey;
    color: black;
}

main {
    padding-top: 30px;
    margin: 0 0.5%;
}

main.admin input, select, textarea {
    display: block;
    width: 100%;
    max-width: 400px;
}

main.font input, select, textarea {
    display: block;
}

span#user {
    float: right;
}

span#search {
    float: left;
}

#topbar span#menu {
    display: inline-block;
    margin: 0 1%;
}

#topbar input[type="text"], #topbar input[type="password"] {width: 100px;}


main.font table#fontlist {
    width: 100%;
    max-width: 500px;
}

main.media table#medialist {
    width: 100%;
    max-width: 960px;
}

#topbar a.actualpage {
    text-decoration: underline;
}

main.media table#faviconlist {
    width: 100%;
    max-width: 640px;
}

main.info ul i {
    color: grey;
}

main.info a {
    text-decoration: underline white;
}

main.info ul {
    list-style: none;
    padding-inline-start: 10px;
}

main.info code, main.info blockquote {
    color: white;
    background-color: #191919;
    width: fit-content;
}

main.info article {
    max-width: 800px;
    text-align: justify;
    background-color: #e2e1e1;
    margin: 1%;
    padding: 1%;
}

main.info blockquote i {
    font-style: normal;
    color: #7b97b9;
}


main.info article h2#manual {
    text-align: center;
    font-size: 40px;
}

main.info article h3 {
    border-bottom: solid 1px grey;
    margin-top: 100px;
    padding-top: 15px;
    font-size: 35px;
}

main.info article h4 {
    background-color: darkgrey;
    padding: 10px;
    font-size: x-large;
    margin-top: 70px;
}

main.info article h5 {
    text-transform: uppercase;
    margin-top: 45px;
    font-size: large;
}

main.info code {
    padding: 0 4px;
}

main.info blockquote {
    padding: 6px 12px;
    text-align: left;
    word-break: break-all;
}

main.info nav {
    position: fixed;
    left: 850px;
    top: 0px;
    margin-top: 50px;
    border-left: solid 2px grey;
    padding: 0 10px;
}

main.info article code i {
    font-style: normal;
    color: #7b97b9;
}


main.media table#medialist img {
    display: none;
    position: absolute;
    max-width: 400px;
    max-height: 200px;
    margin-left: 80px;
    background-color: white;
    padding: 1%;
}

main.media table#medialist .thumbnail:hover img {
    display: block;
}


main.media form {
    margin: 1%;
}

main.media div#tree, main.media div#explorer {
    display: inline-grid;
}

main.media code {
    color: #9cbfe8;
    background-color: darkslategrey;
    font-size: small;
    padding: 1px;
}



main.user table form {
    display: inline-block;
}




@media (max-width: 600px) {
    main.home .summary, main.home .linkfrom, main.home .linkto, main.home .delete, main.home .datecreation, main.home .date, main.home .log, main.home .secure, main.home .tag {
        display: none;
    }

    main.info nav {
        position: relative;
        left: 0;
    }

}


