
aside.home #edit input[type="submit"] {
    width: 100%;
}


main.home article#main {
    width: 100%;
}

main.home div#main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


main.home div#graph {
    height: 1000px;
    width: 800px;
}

main.home table td.id {
    font-family: monospace;
    font-size: medium;
}


main.home nav select, main.home nav input[type="datetime-local"] {
    width: 100%;
}


main.home nav fieldset[data-default="0"] ul {
    background: var(--outline-background-color);
    color: var(--outline-color);
}

main.home nav legend {
    font-weight: bold;
    width: 100%;
    background-color: var(--secondary-background-color);
}

#home2table a.linkto {
    font-family: monospace;
    font-size: medium;
    background-color: #7b97b9;
}

main.home a.bookmark[data-current="1"] {
    background-color: var(--outline-background-color);
    color: var(--outline-color);
}

main.home a.bookmark {
    display: block;
}


div#deepsearchbar {
    background-color: var(---secondary-background-color);
}

#deepsearchbar input[type=text] {
    width: 150px;
}



nav fieldset {
    padding: 0;
    margin: 5px;
    border: none;
    margin: 15px 0;
}

nav span.list-label {
    width: 74%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-bottom;
}

nav span.counter {
    border-radius: 100%;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
}


table a.tag, table a.author {
    border-radius: 10px;
    padding: 1px 4px;
}

table a.author {
    background-color: var(--secondary-background-color);
}

table a.secure{
    padding: 1px 3px;
}

table a.secure.private {
    background-color: #b9b67b;
}

table a.secure.not_published {
    background-color: #b97b7b;
}

table a.secure.public {
    background-color: #80b97b;
}


table img.favicon {
    height: 16px;
    max-width: 32px;
}


td.title {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td label, td time {white-space: nowrap;}




@media (max-width: 600px) {
    section.pages {
        max-width: 100%;
    }

    td.edit, td.read, td.delete, td.download {
        font-size: 1.3em;
    }
}
