* {
    box-sizing: border-box;
}

.inline {
    display: inline;
}

.floatright {
    float: right;
}


div#options, article#main {
    min-width: 180px;
    overflow-y: auto;
}



main {
    display: flex;
    height: 100%;
    /* width: 100%; */
}


aside {
    display: flex;
    background-color: darkgrey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}



aside details, aside span {
    width: 100%;
    max-width: 280px;
}



aside details .submenu, aside summary {
    background-color: darkgrey;
    border-left: 1px solid grey;
}


aside .submenu {
    position: absolute;
    border: solid 1px dimgrey;
    width: 20%;
    max-width: 280px;
    max-height: 85%;
    overflow-y: auto;
}

aside .submenu * {
    max-width: 100%;
}


aside summary {
    color: grey;
}

aside details > summary::-webkit-details-marker {
    display: none;
}


aside summary:hover {
    color: black;
    cursor: pointer;
}


aside.home details#bookmarks input[type="checkbox"] {
    opacity: 0.2;
    float: right;
    height: 11px;
}

aside.home details#bookmarks input[type="checkbox"]:hover {
    opacity: 1;
}

aside.home details#bookmarks ul {
    padding: 2%;
}




aside .submenu code {
    overflow: auto;
    display: block;
    white-space: nowrap;
    color: #7b97b9;
    background-color: #233143;
    padding: 1%;
    font-size: 12px;
}

main.home article#main {
    width: 100%;
}

main.home div#main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

main.home table .id {
    font-family: monospace;
    font-size: medium;
}

nav span.counter {
    border-radius: 100%;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
}


table a.tag, table a.author {
    border-radius: 10px;
    padding: 1px 4px;
}

table a.author {
    background-color: darkgrey;
}

table a.secure{
    padding: 1px 3px;
}

table a.secure.private {
    background-color: #b9b67b;
}

table a.secure.not_published {
    background-color: #b97b7b;
}

table a.secure.public {
    background-color: #80b97b;
}


table img.favicon {
    height: 16px;
    max-width: 32px;
}


body {
    margin: 0;
    height: 100%;
    background-color: grey;
    font-family: sans-serif;
    font-size: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    position: fixed;
    right: 0;
}





h1, h2 {
    margin: 0;
    background-color: #7b97b9;
    color: white;
    font-size: larger;
}



p {
    padding: 0 1%;
}




tr:hover {
    background-color: grey;
    color: white;
}

#topbar {
    background-color: #7b97b9;
    width: 100%;
    padding: 3px 0.5%;
}

#topbar form {
    display: inline;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

th {
    background-color: darkgrey;
    color: black;
}

main {
    overflow-y: auto;
}

main.admin input, main.admin select, main.admin textarea {
    display: block;
    width: 100%;
}



div.checkbox [type="checkbox"] {
    display: inline-block;
    width: auto;
}


div.radio input[type="radio"] {
    display: inline-block;
    width: auto;
}

main.font input, main.font  select, main.font  textarea {
    display: block;
}

span#user {
    float: right;
}

span#search {
    float: left;
}

#topbar span#menu {
    display: inline-block;
    margin: 0 1%;
}

#topbar input[type="text"], #topbar input[type="password"] {width: 100px;}

main.font table#fontlist {
    width: 100%;
    max-width: 500px;
}


#topbar a.actualpage {
    text-decoration: underline;
}



img.icon {
    height: 12px;
}

a:hover img.icon {
    filter: invert(1);
}

section.info {
    max-width: 600px;
    list-style: inside disc;
}


main.info ul i {
    color: grey;
}

main.info a {
    text-decoration: underline white;
}

nav.info ul {
    padding-inline-start: 10px;
}

main.info code {
    color: white;
    background-color: #233143;
    width: fit-content;
    font-family: monospace;
    font-size: initial;
}

main.info blockquote i {
    font-style: normal;
    color: #7b97b9;
}

main.info article#manual h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: transparent;
    font-weight: lighter;
    margin: 6%;
    border-top: solid;
    border-bottom: solid;
}


main.info article#manual h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

main.info article#manual h3 {
    border-bottom: solid 1px grey;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 35px;
}

main.info article h4 {
    background-color: darkgrey;
    font-size: x-large;
    margin-top: 35px;
    margin-bottom: 25px;
}

main.info article#manual h5 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: medium;
}


section.info ul {
    list-style: inside disc;
    padding-inline-start: 10px;
}

main.info code {
    padding: 0 4px;
}



main.info pre {width: fit-content;padding: 1%;background-color: hsla(213, 31%, 20%, 1);white-space: pre-wrap;margin: 1%;}

main.info blockquote {
    padding: 6px 12px;
    text-align: left;
    word-break: break-all;
}

main.info article code i {
    font-style: normal;
    color: #7b97b9;
}


main.media table#medialist img {
    display: none;
    position: absolute;
    max-width: 400px;
    max-height: 200px;
    margin-left: 80px;
    background-color: white;
    padding: 1%;
}

main.media table#medialist .thumbnail:hover img {
    display: block;
}




main.media code {
    color: #9cbfe8;
    background-color: darkslategrey;
    font-size: small;
    padding: 1px;
}

nav.media span#currentdir {
    color: hsla(213, 70%, 40%, 1);
}



td.code {
    background-color: darkslategrey;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
}



main.user table form {
    display: inline-block;
}

main.user td {
    white-space: nowrap;
}









main.timeline ul {
    list-style: none;
    padding-inline-start: 0;
}


li.self.user {
    text-align: right;
}

main.timeline li.event .eline {
    display: inline-block;
    margin: 0;
}



main.timeline p.eline {
    background-color: white;
    border-radius: 10px;
    padding: 3px 7px;
    font-family: sans-serif;
}



main.timeline textarea#message {
    width: 100%;
    max-width: unset;
}



main.timeline article#live {
    overflow-y: scroll;
}

main.timeline section {
    display: flex;
    flex-direction: column;
}

main.timeline {
    display: flex;
    height: 100%;
    flex-direction: row;
}




li.event:hover span.details {
    display: inline;
}

span.details {
    display: none;
}

main.timeline li.event {
    margin: 7px;
}









main section {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 160px);
}

main nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 160px;
}


.block {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
}

.scroll {
    overflow: auto;
    height: 100%;
    max-width: 100%;
}

footer {
    background-color: black;
    color: white;
    opacity: 0.4;
}


.nowrap {
    white-space: nowrap;
}




@media (max-width: 600px) {
    main.home .summary, main.home .linkfrom, main.home .linkto, main.home .delete, main.home .datecreation, main.home .date, main.home .log, main.home .secure, main.home .tag, .hidephone {
        display: none;
    }

    main.info nav {
        position: relative;
        left: 0;
    }

    main.home nav {
        display: none;
    }

    section.pages {
        max-width: 100%;
    }

    img.icon {
        height: 23px;
    }

}




