section {
    max-width: 600px;
    list-style: inside disc;
}

section article {
    padding: 2%;
}


main ul i {
    color: grey;
}

main a {
    text-decoration: underline var(--text2-color);
    color: inherit;
}

nav ul {
    padding-inline-start: 30px;
}

main code {
    width: fit-content;
    font-family: monospace;
    white-space: pre-wrap;
    display: inline;
    padding: 1px;
}

main blockquote i {
    font-style: normal;
    color: #7b97b9;
}

main article#manual h1 {
    text-align: center;
    font-size: 50px;
    background-color: transparent;
    font-weight: lighter;
    margin: 6%;
    border-top: solid;
    border-bottom: solid;
}


main article#manual h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 250px;
}

main article#manual h3 {
    border-bottom: solid 2px #7b97b9;
    margin-top: 140px;
    margin-bottom: 70px;
    padding-top: 15px;
    font-size: 35px;
}

#manual table {
    margin-top: 12px;
  }

main article h4 {
    background-color: var(--main-color);
    font-size: x-large;
    margin-top: 80px;
    margin-bottom: 25px;
    padding: 0 20px;
}

main article#manual h5 {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: medium;
    border: solid 1px;
    width: fit-content;
    padding: 0 3px;
    border-left: 8px solid;
    border-color: var(--main-color);
}


section ul {
    list-style: inside disc;
    padding-inline-start: 10px;
}

article#manual a:hover {
    color: var(--outline-color);
    background-color: var(--outline-background-color);
}



main pre {padding: 1%;background-color: var(--code-background-color);white-space: pre-wrap;}

main blockquote {
    padding: 6px 12px;
    text-align: left;
    word-break: break-all;
}

main article code i {
    font-style: normal;
    color: #7b97b9;
}



nav ul.summary {
    margin: 3%;
    padding: 0;
}

