section {
    max-width: 650px;
    list-style: inside disc;
}

section article {
    margin: 6%;
}


main ul i {
    color: grey;
}

main a {
    text-decoration: underline var(--text2-color);
    color: inherit;
}

nav ul {
    padding-inline-start: 30px;
}

main code {
    width: fit-content;
    font-family: monospace;
    white-space: pre-wrap;
    display: inline;
    padding: 2px 4px;
    border-radius: 3px;
}

main blockquote i {
    font-style: normal;
    color: #7b97b9;
}

main article#manual h1 {
    text-align: center;
    font-size: 50px;
    background-color: transparent;
    font-weight: lighter;
    margin: 6%;
    border-top: solid;
    border-bottom: solid;
}


main article#manual h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 90px;
}

main article#manual h3 {
    border-bottom: solid 2px var(--secondary-background-color);
    margin-top: 130px;
    margin-bottom: 70px;
    padding-top: 15px;
    font-size: 35px;
}

#manual table {
    margin-top: 12px;
  }

main article h4 {
    background-color: var(--main-color);
    font-size: x-large;
    margin-top: 80px;
    margin-bottom: 25px;
    padding: 0 20px;
}

main article#manual h5 {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: medium;
    border: solid 1px;
    width: fit-content;
    padding: 0 3px;
    border-left: 8px solid;
    border-color: var(--main-color);
}


section ul {
    list-style: inside disc;
    padding-inline-start: 10px;
}


main pre {padding: 1%;background-color: var(--code-background-color);white-space: pre-wrap;border-radius: 3px;}

#manual blockquote {
    margin: 30px 0;
    margin-left: 15px;
    padding-left: 5px;
    border-left: solid 3px var(--main-color);
}

main article code i {
    font-style: normal;
    color: #7b97b9;
}



nav ul.summary {
    margin: 3%;
    padding: 0;
    margin-bottom: 200px;
}


#manual {
    hyphens: auto;
    font-size: 1.1em;
}

#manual p {
    line-height: 1.4em;
}

#manual li {
    margin: 5px 0;
    line-height: 23px;
}

#manual a[href^="https://"]::after {
    content: "◥";
    color: var(--text2-color);
}

#manual a[href^="#"]::after {
    content: " ✻";
    color: var(--text2-color);
    white-space: nowrap;
}

#manual kbd {
    background-color: var(--main-color);
    padding: 1px 4px;
    border-radius: 7px;
    box-shadow: 2px 2px;
    margin: 0 2px;
}

.summary li a {
    text-decoration: none;
}

.summary li a:hover {
    text-decoration: underline var(--text2-color);
}

.summary li {
    margin: 2px 1px;
}

.summary > li {
    margin-bottom: 10px;
}

.summary > li > a {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 1.15em;
}

.summary > li > ul > li > ul {
    /* display: none; */
    font-size: 0.8em;
    border-left: solid 2px var(--main-color);
    padding-left: 5px;
    margin-left: 5px;
    margin-bottom: 6px;
    opacity: 0.9;
}

.summary > li > ul {
    padding-left: 15px;
    margin-bottom: 15px;
}
