section label, section input {
    display: block;
}

section#profile {
    max-width: 400px;
}

section label {
    margin-top: 10px;
    font-weight: bold;
}

section input {
    width: 100%;
    margin: 3px 0;
}

section h2 {
    margin-top: 50px;
}