:root {
    --text-color: white;
    --text2-color: #fbff00;
    --main-color: #c80101;
    --secondary-background-color: #2d42d6;
    --code-background-color: rgb(0 0 0);
    --code-color: #fffa00;
    --primary-background-color: #282887;
    --tertiary-background-color: #191919;
    --outline-background-color: #00c4ff;
    --outline-color: #1d00ff;
    --button-background-color: #1a728d;
    --button-border-color: #ffffff;
}

input, button, select, textarea {
    border-radius: 10px;
}



