
.tag_color { background-color: #5649df; }
.tag_w { background-color: #9ff567; }
.tag_sans { background-color: #4eacbf; }
.tag_secret { background-color: #50a07e; }
.tag_fiit { background-color: #c9e952; }
.tag_salle { background-color: #3fa0c1; }
.tag_ab { background-color: #aaae52; }
.tag_template { background-color: #b1c46e; }
.tag_tttaaaaggggeee { background-color: #39b885; }
.tag_salle01 { background-color: #b7e36c; }
.tag_event { background-color: #838e9b; }
.tag_delire { background-color: #8646f3; }
.tag_phasme { background-color: #a9be35; }
.tag_animal { background-color: #9e5988; }
.tag_blague { background-color: #6aaa8d; }
.tag_festival { background-color: #c18f57; }