
.tag_color { background-color: #ff0000; }
.tag_w { background-color: #50e2f9; }
.tag_sans { background-color: #00ff07; }
.tag_secret { background-color: #10580b; }
.tag_fiit { background-color: #ba7db4; }
.tag_salle { background-color: #d2946d; }
.tag_ab { background-color: #fbd4fd; }
.tag_template { background-color: #f4cbfe; }
.tag_tttaaaaggggeee { background-color: #75d26b; }
.tag_salle01 { background-color: #64d377; }
.tag_event { background-color: #9daa97; }
.tag_delire { background-color: #c794c0; }
.tag_phasme { background-color: #bcf2c9; }
.tag_animal { background-color: #c6f9a4; }
.tag_blague { background-color: #6a859f; }
.tag_festival { background-color: #ed65b9; }