
.tag_color { background-color: #785ae2; }
.tag_w { background-color: #d660e7; }
.tag_sans { background-color: #a44432; }
.tag_secret { background-color: #f449d8; }
.tag_fiit { background-color: #d5ccfc; }
.tag_salle { background-color: #488d4f; }
.tag_ab { background-color: #6f8934; }
.tag_template { background-color: #85e961; }
.tag_tttaaaaggggeee { background-color: #654760; }
.tag_salle01 { background-color: #57f55c; }
.tag_event { background-color: #d1bc49; }
.tag_delire { background-color: #8c967a; }
.tag_phasme { background-color: #a23e85; }
.tag_animal { background-color: #c85b73; }
.tag_blague { background-color: #6ac3f3; }
.tag_festival { background-color: #67a46c; }