body, input, textarea, a, main.media code, a:hover  {
    color: #ffffff;
}

input[type="submit"]:hover, .checkboxtab:hover ~label{
    color: #000000;
    background: #ffffff;
    cursor:pointer;
}

body {
    background: black;
    font-family: monospace;
    font-size: medium;
}

div#topbar, article#main, main.media div, main.home div#options, main.info nav, main article, h1, h2, main.info article h4, textarea, input {
    background:black;
    border-color: white;
}

.editor div#leftbar, .editor #edittopbar, .editor div#rightbar, details, .editor .tabs {
    background:black;
    border-color: white;
}

.editor div#leftbarpanel, .editor div#rightbarpanel {
    border: solid 1px;
}

 .tabs .tab .content {
     background: black;
 }

 .editor label.toogle:hover {
     background: white;
 }

.checkboxtab:checked ~label {
    color: white;
    background: black;
}

.editor  {
     background: black;
 }


tr:hover, th, th a, .panel summary {
    color: #000000;
    background: #ffffff;
}

main.timeline p.eline {
    color: black;
    font-family: monospace;
}

img.icon {
    filter: invert(1);
    height: 10px;
}

tr:hover img.icon {
    filter: invert(0);
}

main.media tr:hover a {
    color: black;
}