td.url {
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
    font-family: monospace;
    font-size: var(--size-small);
    white-space: nowrap;
}

td.message {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
}

span.ok {
    color: green;
}

span.dead {
    color: red;
}

td.pages .button {
    font-family: monospace;
}
