
td.url label {
    text-overflow: ellipsis;
    max-width: 500px;
    display: block;
    overflow: hidden;
    font-family: monospace;
    font-size: var(--size-small);
    white-space: nowrap;
}

span.ok {
    color: green;
}

span.dead {
    color: red;
}
